$os-default: #0a84ff;
$os-blue: #007aff;
$os-red: #ff3b30;
$os-orange: #ff9500;
$os-yellow: #ffcc00;
$os-green: #28cd41;
$os-teal: #55bef0;
$os-purple: #af52de;
$os-pink: #ff2d55;
$os-brown: #a2845e;
$os-gray: #8e8e93;

$window-header-view-dark: rgba(30, 30, 30, 0.8);
$window-title-bar-dark: rgba(60, 60, 60, 0.8);
